body
{
	position: relative;
	background-color: #FFF;
	margin: 0;
	padding: 48px 0;
	font: 76%/1.6em "Lucida Grande", Verdana, Arial, sans-serif;
	color: #333;
	text-align: center;
}

a:hover 
{
	text-decoration: none;
}

div#container
{
	width: 400px;
	margin: 0 auto;
	text-align: left;
}

.disclaimer
{
	font-size: 0.92em;
	padding: 0.3em 1.0em;
	border: 1px solid #F2F2C2;
	background-color: #FFC;
}

h1
{
	font-size: 2.0em;
	font-weight: normal;
	line-height: 1.2em;
}

h2
{
	color: #7B9F53;
	font-size: 1.8em;
	font-weight: normal;
	line-height: 1.4em;
}

ol
{
	margin: 0 0 1.0em;
	padding: 0.3em 1.0em;
	list-style: none;
}

li
{
	color: #C00;
	position: relative;
	height: 1%;
	padding-left: 24px;
}
li span
{
	position: absolute;
	top: 1px;
	left: 0;
	
	color: #FFF;
	background-color: #A11;
	
	padding: 1px;
	width: 14px;
	height: 14px;
	line-height: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

.pass 
{
	color: #00550D;
}

li.pass span
{
	background-color: #00550D;
}

.caution
{
	color: #CA0;
}

li.caution span
{
	background-color: #CA0;
}

.fail
{
	color: #A11;
}